{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Favicons -->
    <link rel='icon' href="{% static 'assets/img/osg_logo.png' %}">

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link  rel="stylesheet" href="{% static 'patient/assets/css/bootstrap2.min.css' %}">
    <link rel="stylesheet" href="{% static 'patient/assets/vendor/remixicon/remixicon.css' %}">


    <link href="{% static 'patient/assets/css/style.css' %}" rel="stylesheet">

</head>
<style>
    span{
      position: absolute;
      right: 25px; 
      transform: translate(0, -49%);  
      top: 50%;
      cursor: pointer;
    }
</style>

<body class="bg-gradient">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 mt-4 shadow-lg my-5">
                    <div class="card-body bt-3 p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background: url('{% static '/assets/img/stadium-road.jpg' %}'); background-position: center; background-size: cover"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                    </div>
                                    <hr>
                                    <div class="mt-3 pt-3">

                                        <form action='/signin' method='POST'>
                                          {% csrf_token %}
                                          <div class="form-group row">
                                            <div class="col-12">
                                              <label for="username" class="mb-0">userID</label>
                                              <input type="text" class="form-control" name="userID" id="username">  
                                            </div>
                                          </div>
                                          <div class="form-group row">    
                                            <div class="col-12">
                                              <label for="password" class="mb-0">Password</label>
                                            </div>  
                                            <div class="col-12">
                                              <input type="password" class="form-control" name="pass1" id="password">
                                              <span id="show_password"><i class="ri-eye-fill"></i></span>
                                            </div>
                                          </div> 
                                          <div class="form-group row">
                                            <div class="col-lg-12 mt-0">
                                                <input type="checkbox" id="remember_me" name="remember_me" value="remeber_me">
                                                <label for="remember_me">Remember Me</label>
                                            </div>
                                          </div> 
                                          <div class="form-group row">
                                            <div class="col-lg-12 mb-2 mt-2">
                                              <button type="submit" class="form-control btn" name="submit">LOGIN</button>
                                            </div>
                                          </div>
                                          <div class="form-group row">
                                            <div class="col-lg-12 align-item-center">
                                              <p style="text-align:center">Forgot Password? <a href="{% url 'patient:forgot_password' %}">Reset Here</a></p>
                                              <p style="text-align:center">Don't have an account yet? <a href="{% url 'patient:signup' %}">Register</a></p>
                                            </div>
                                          </div> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    {% comment %} <script src="vendor/jquery/jquery.min.js"></script> {% endcomment %}
    {% comment %} <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> {% endcomment %}

    <!-- Core plugin JavaScript-->
    {% comment %} <script src="vendor/jquery-easing/jquery.easing.min.js"></script> {% endcomment %}

    <!-- Custom scripts for all pages-->
    {% comment %} <script src="js/sb-admin-2.min.js"></script> {% endcomment %}

</body>

</html>